In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv("source_data.csv")

In [3]:
df

,Season,Competition,Matchday,Date,Venue,Club,Opponent,Result,Playing_Position,Minute,At_score,Type,Goal_assist
0,04/05,LaLiga,34,05-01/05,H,FC Barcelona,Albacete Balompie,2:00,CF,90+1,2:00,Left-footed shot,Ronaldinho Gaacho
1,05/06,UEFA Champions League,Group Stage,11-02/05,H,FC Barcelona,Panathinaikos Athens,5:00,RW,34,3:00,Left-footed shot,NaN
2,05/06,LaLiga,13,11/27/05,H,FC Barcelona,Racing Santander,4:01,RW,51,2:00,Left-footed shot,Samuel Etoo
3,05/06,LaLiga,19,1/15/06,H,FC Barcelona,Athletic Bilbao,2:01,RW,50,2:01,Left-footed shot,Mark van Bommel
4,05/06,LaLiga,20,1/22/06,H,FC Barcelona,Deportivo Alaves,2:00,CF,82,2:00,Left-footed shot,Ronaldinho Gaacho
...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,22/23,Ligue 1,21,2/1/23,A,Paris Saint-Germain,Montpellier HSC,1:3,SS,72,0:2,Left-footed shot,Fabián Ruiz
700,22/23,Ligue 1,22,2/4/23,H,Paris Saint-Germain,FC Toulouse,2:1,SS,58,2:1,Left-footed shot,Achraf Hakimi
701,22/23,Ligue 1,24,2/19/23,H,Paris Saint-Germain,LOSC Lille,4:3,CF,90+5,4:3,Direct free kick,\t
702,22/23,Ligue 1,25,2/26/23,A,Paris Saint-Germain,Olympique Marseille,0:3,CF,29,0:2,Right-footed shot,Kylian Mbappé
703,22/23,Ligue 1,26,3/4/23,H,Paris Saint-Germain,FC Nantes,4:2,CF,12,1:0,Left-footed shot,NaN

In [4]:
df.isnull().sum()

Season                0
Competition           0
Matchday              0
Date                  0
Venue                 0
Club                  0
Opponent              0
Result                0
Playing_Position      0
Minute                0
At_score              0
Type                  1
Goal_assist         214
dtype: int64

In [5]:
df['Type'].fillna('Left-footed shot', inplace=True)

df['Goal_assist'].fillna('Solo Goal', inplace=True)
df['Goal_assist'] = df['Goal_assist'].replace('\t', 'Solo Goal')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Season            704 non-null    object
 1   Competition       704 non-null    object
 2   Matchday          704 non-null    object
 3   Date              704 non-null    object
 4   Venue             704 non-null    object
 5   Club              704 non-null    object
 6   Opponent          704 non-null    object
 7   Result            704 non-null    object
 8   Playing_Position  704 non-null    object
 9   Minute            704 non-null    object
 10  At_score          704 non-null    object
 11  Type              704 non-null    object
 12  Goal_assist       704 non-null    object
dtypes: object(13)
memory usage: 71.6+ KB

In [7]:
df.describe(include='all')

,Season,Competition,Matchday,Date,Venue,Club,Opponent,Result,Playing_Position,Minute,At_score,Type,Goal_assist
count,704,704,704,704,704,704,704,704,704,704,704,704,704
unique,19,10,48,455,2,2,98,55,9,97,46,12,71
top,11-Dec,LaLiga,Group Stage,03/07/12,H,FC Barcelona,Sevilla FC,4:00,CF,55,1:00,Left-footed shot,Solo Goal
freq,73,474,80,5,420,672,38,47,276,14,98,437,215

In [8]:
df['Season'].value_counts()

Season
11-Dec    73
Dec-13    60
14/15     58
16/17     54
10/11     53
18/19     51
09/10     47
17/18     45
13/14     41
15/16     41
20/21     38
08/09     38
19/20     31
22/23     18
06/07     17
07/08     16
21/22     14
05/06      8
04/05      1
Name: count, dtype: int64

In [9]:
df['Competition'].value_counts()

Competition
LaLiga                   474
UEFA Champions League    128
Copa del Rey              56
Ligue 1                   21
Supercopa                 14
FIFA Club World Cup        5
UEFA Super Cup             3
Trophée des Champions      1
Troph�e des Champions      1
Champions League           1
Name: count, dtype: int64

In [10]:
df['Matchday'].value_counts()

Matchday
Group Stage       80
last 16           45
Quarter-Finals    23
25                21
1                 21
Final             20
Semi-Finals       19
21                18
28                18
26                18
34                17
27                17
3                 16
24                16
13                16
20                15
4                 15
19                15
15                14
8                 13
18                13
12                13
22                13
31                13
9                 13
16                13
37                13
35                13
final             13
29                12
11                12
38                12
23                11
2                 11
33                10
14                10
6                 10
17                 9
30                 9
36                 9
32                 8
5                  8
7                  7
Round of 16        6
10                 3
5th round          1
4th round          1
Fifth Round        1
Name: count, dtype: int64

In [11]:
df['Date'].value_counts()

Date
03/07/12    5
1/27/13     4
08/06-22    4
04/06/10    4
9/19/17     4
           ..
4/27/13     1
04-02-13    1
3/30/13     1
03/09-13    1
3/4/23      1
Name: count, Length: 455, dtype: int64

In [12]:
df['Result'].value_counts()

Result
4:00       47
3:00       43
5:00       42
3:01       38
4:01       35
0:02       35
5:01       32
1:02       30
2:02       29
0:04       27
2:00       23
2:01       23
2:03       21
0:05       21
1:01       20
0:03       20
1:04       19
6:01       18
1:03       17
2:04       15
3:02       13
5:02       13
7:00       11
6:00       11
4:02       10
1:00        8
1:05        8
7:01        7
0:01        7
0:08        6
3:04        5
0:06        5
3:03        4
1:06        4
8:00        3
5:03        3
4:05        3
8:02        2
0:3         2
0:07        2
2:05        2
5:4 AET     2
6:02        2
2:06        2
4:3         2
2:1         2
7:2         2
1:3         1
2:0         1
1:2 AET     1
1:1         1
1:07        1
4:04        1
4:03        1
4:2         1
Name: count, dtype: int64

In [13]:
df['Playing_Position'].value_counts()

Playing_Position
CF     276
RW     221
RW      95
CF      40
SS      32
SS      23
AM       9
AM       7
LW       1
Name: count, dtype: int64

In [14]:
df['At_score'].value_counts()

At_score
1:00    98
2:00    81
0:01    70
0:02    57
3:00    49
1:01    48
2:01    37
1:02    29
4:00    29
3:01    27
0:03    26
4:01    19
0:04    19
5:00    13
1:03    10
2:02    10
5:01     9
3:02     8
0:05     8
2:03     7
2:04     6
4:02     4
1:0      3
6:00     3
0:2      3
1:04     3
5:02     3
0:07     2
1:06     2
3:04     2
0:06     2
6:01     2
3:03     2
0:1      1
2:1      1
2:0      1
2:2      1
4:1      1
6:02     1
1:05     1
4:03     1
8:00     1
3:05     1
2:05     1
7:00     1
4:3      1
Name: count, dtype: int64

In [15]:
df['Type'].value_counts()

Type
Left-footed shot          437
Right-footed shot          86
Penalty                    84
Direct free kick           52
Header                     24
Tap-in                      9
Solo run                    4
Penalty rebound             3
Deflected shot on goal      2
Counter attack goal         1
Chest                       1
Long distance kick          1
Name: count, dtype: int64

In [16]:
def cleaning_score(score):
    parts = score.split(':')
    if len(parts) == 2:
        first, second = parts
        second = second.lstrip('0')
        if not second:
            return f"{first}:0"
        else:
            return f"{first}:{second}"
    else:
        return score
    
def convert_numeric(minute):
    if '+' in minute:
        parts = minute.split('+')
        numeric_value = int(parts[0]) + int(parts[1])
    else:
        numeric_value = int(minute)
    return numeric_value

def address_season(season):
    season = season.replace("Dec", "12").replace("-", "/")
    return season

def address_competition(competition):
    competition = competition.replace("Champions League", "UEFA Champions League")
    competition = competition.replace("Troph�e des Champions", "Trophée des Champions")
    return competition

def address_matchday(matchday):
    matchday = matchday.replace("final", "Final").replace("last 16", "Round of 16")
    return matchday

def address_date(date):
    date = date.replace("-", "/")
    return date

def format_date(fecha):
    partes = fecha.split('/')
    partes = [parte.zfill(2) if len(parte) == 1 else parte for parte in partes]
    return '/'.join(partes)

def address_type(Type):
    if Type in ['Solo run', 'Tap-in', 'Deflected shot on goal', 'Counter attack goal', 'Long distance kick']:
        return 'Left-footed shot'
    elif Type == 'Penalty rebound':
        return 'Penalty'
    else:
        return Type

df['Result'] = df['Result'].apply(cleaning_score)
df['At_score'] = df['At_score'].apply(cleaning_score)
df['Minute'] = df['Minute'].apply(convert_numeric)
df['Season'] = df['Season'].apply(address_season)
df['Competition'] = df['Competition'].apply(address_competition)
df['Competition'] = df['Competition'].str.strip().replace('UEFA UEFA Champions League', 'UEFA Champions League')
df['Matchday'] = df['Matchday'].apply(address_matchday)
df['Date'] = df['Date'].apply(address_date)
df['Date'] = df['Date'].apply(format_date)
df['Type'] = df['Type'].apply(address_type)

df['Playing_Position'] = df['Playing_Position'].str.strip()

In [17]:
df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%y', errors='coerce')

In [18]:
df

,Season,Competition,Matchday,Date,Venue,Club,Opponent,Result,Playing_Position,Minute,At_score,Type,Goal_assist
0,04/05,LaLiga,34,2005-05-01,H,FC Barcelona,Albacete Balompie,2:0,CF,91,2:0,Left-footed shot,Ronaldinho Gaacho
1,05/06,UEFA Champions League,Group Stage,2005-11-02,H,FC Barcelona,Panathinaikos Athens,5:0,RW,34,3:0,Left-footed shot,Solo Goal
2,05/06,LaLiga,13,2005-11-27,H,FC Barcelona,Racing Santander,4:1,RW,51,2:0,Left-footed shot,Samuel Etoo
3,05/06,LaLiga,19,2006-01-15,H,FC Barcelona,Athletic Bilbao,2:1,RW,50,2:1,Left-footed shot,Mark van Bommel
4,05/06,LaLiga,20,2006-01-22,H,FC Barcelona,Deportivo Alaves,2:0,CF,82,2:0,Left-footed shot,Ronaldinho Gaacho
...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,22/23,Ligue 1,21,2023-02-01,A,Paris Saint-Germain,Montpellier HSC,1:3,SS,72,0:2,Left-footed shot,Fabián Ruiz
700,22/23,Ligue 1,22,2023-02-04,H,Paris Saint-Germain,FC Toulouse,2:1,SS,58,2:1,Left-footed shot,Achraf Hakimi
701,22/23,Ligue 1,24,2023-02-19,H,Paris Saint-Germain,LOSC Lille,4:3,CF,95,4:3,Direct free kick,Solo Goal
702,22/23,Ligue 1,25,2023-02-26,A,Paris Saint-Germain,Olympique Marseille,0:3,CF,29,0:2,Right-footed shot,Kylian Mbappé
703,22/23,Ligue 1,26,2023-03-04,H,Paris Saint-Germain,FC Nantes,4:2,CF,12,1:0,Left-footed shot,Solo Goal

In [19]:
df.isnull().sum()

Season              0
Competition         0
Matchday            0
Date                0
Venue               0
Club                0
Opponent            0
Result              0
Playing_Position    0
Minute              0
At_score            0
Type                0
Goal_assist         0
dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Season            704 non-null    object
 1   Competition       704 non-null    object
 2   Matchday          704 non-null    object
 3   Date              704 non-null    datetime64[ns]
 4   Venue             704 non-null    object
 5   Club              704 non-null    object
 6   Opponent          704 non-null    object
 7   Result            704 non-null    object
 8   Playing_Position  704 non-null    object
 9   Minute            704 non-null    int64
 10  At_score          704 non-null    object
 11  Type              704 non-null    object
 12  Goal_assist       704 non-null    object
dtypes: datetime64[ns](1), int64(1), object(11)
memory usage: 71.6+ KB

In [21]:
df.describe(include='all')

,Season,Competition,Matchday,Date,Venue,Club,Opponent,Result,Playing_Position,Minute,At_score,Type,Goal_assist
count,704,704,704,704,704,704,704,704,704,704.000000,704,704,704
unique,19,8,46,NaN,2,2,98,48,5,NaN,38,6,71
top,11/12,LaLiga,Group Stage,NaN,H,FC Barcelona,Sevilla FC,4:0,CF,NaN,1:0,Left-footed shot,Solo Goal
freq,73,474,80,NaN,420,672,38,47,316,NaN,101,454,215
mean,NaN,NaN,NaN,2014-08-23 04:13:38.181818112,NaN,NaN,NaN,NaN,NaN,51.923295,NaN,NaN,NaN
min,NaN,NaN,NaN,2005-05-01 00:00:00,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,2011-04-21 06:00:00,NaN,NaN,NaN,NaN,NaN,30.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,2014-04-23 12:00:00,NaN,NaN,NaN,NaN,NaN,54.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,2018-01-11 00:00:00,NaN,NaN,NaN,NaN,NaN,75.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,2023-03-04 00:00:00,NaN,NaN,NaN,NaN,NaN,110.000000,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.933163,NaN,NaN,NaN

In [22]:
df.to_excel('messi_excel.xlsx', index=False)
df.to_csv('messi_csv.csv', index=False)